.textOptionType {
  @apply pl-4 text-lg;
}

/* Use opacity to achieve the fade-in/out effect. */
@keyframes fadeText {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.textOptionTypeFade {
  @apply textOptionType;
  animation: fadeText 4s infinite;
}